@font-face {
    font-family: 'TitleFont';
    src: url(./font/Monopoly\ Regular.ttf) format('truetype');
}

h1 {
    display: block;
    text-align: center;
    color: #cfeefd;
    text-shadow: #8fcde7 0px 0px 10px, #8fcde7 0px 0px 10px, #8fcde7 0px 0px 10px;
    font-family: 'TitleFont', sans-serif;
    font-size: 3rem;
    background-color: #edffa3;
    padding: 20px;
    margin: 0 auto;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button-container button {
    background-color: #8fcde7;
    color: white;
    border: #8fcde7 solid 2px;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
}

.button-container button:hover {
    background-color: #7ab8d1;
}

.button-container input {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid #8fcde7;
    margin-right: 20px;
    padding-left: 15px;
    max-width: 300px;
    width: 100%;
}

.button-container input:focus {
    outline: none;
    border-color: #48a2c5;
}

.donation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.coin-image {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
}

#donation-amount {
    font-size: 1.5rem;
    color: #333;
    margin-top: 1.1rem;
}